.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
rect.playerA {
  fill: #98abc5;
}
rect.playerA:hover {
  fill: #6E7B8E;
}
rect.playerB {
  fill: #ff8c00;
}
rect.playerB:hover {
  fill: #B86500;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.player {
  font-weight: bold;
}
input.playerA {
  background-color: #98abc5;
}
span.playerA {
  color: #98abc5;
}
input.playerB{
  background-color: #ff8c00;
}
span.playerB{
  color: #ff8c00;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}
