html, body, #root {
  min-height: 100%;
  height: 100%;
}

#root > div {
  min-height: 100%;
  height: 100%;
}

.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
rect.playerA {
  fill: #98abc5;
}
rect.playerA:hover {
  fill: #6E7B8E;
}
rect.playerB {
  fill: #ff8c00;
}
rect.playerB:hover {
  fill: #B86500;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.player {
  font-weight: bold;
}
input.playerA {
  background-color: #98abc5;
}
span.playerA {
  color: #98abc5;
}
input.playerB{
  background-color: #ff8c00;
}
span.playerB{
  color: #ff8c00;
}
