__pycache__
*.pyc

venv
node_modules
yarn-error.log

# test db
*test.sqlite

# cache for zuluru syncs
tmp

# files to help with backfilling old roster syncs
*players_db.csv

# docker volume
server/postgres

# saved pg_dumps
server/pgdump*

# android release builds
android/app/league/release/*
