__pycache__
*.pyc

node_modules
yarn-error.log

# sqlite files
*.sqlite

# files to help with backfilling old roster syncs
*players_db.csv

# docker volume
server/postgres

# saved pg_dumps
server/pgdump*
