# python
__pycache__
*.pyc
.venv
.ruff_cache
.mypy_cache
*egg-info

# node
node_modules
yarn-error.log

# test db
*test.sqlite

# cache for zuluru syncs
tmp

# android release builds
android/app/league/release/*
.aider*
