.arc path {
  stroke: #fff;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.green-0{fill: #E5F5E0;}
.green-1{fill: #D7EDD4;}
.green-2{fill: #C9E5C9;}
.green-3{fill: #BBDEBE;}
.green-4{fill: #ADD6B3;}
.green-5{fill: #9FCFA8;}
.green-6{fill: #91C79D;}
.green-7{fill: #84C092;}
.green-8{fill: #76B887;}
.green-9{fill: #68B07C;}
.green-10{fill: #5AA971;}
.green-11{fill: #4CA166;}
.green-12{fill: #3E9A5B;}
.green-13{fill: #309250;}
.green-14{fill: #238B45;}
.yellow-11{fill: #FFCC00;}
.green-0:hover{fill: #B7C4B3;}
.green-1:hover{fill: #ABBDAA;}
.green-2:hover{fill: #A0B7A1;}
.green-3:hover{fill: #95B198;}
.green-4:hover{fill: #8AAB8F;}
.green-5:hover{fill: #7FA586;}
.green-6:hover{fill: #749F7D;}
.green-7:hover{fill: #699975;}
.green-8:hover{fill: #5E936C;}
.green-9:hover{fill: #538D63;}
.green-10:hover{fill: #48875A;}
.green-11:hover{fill: #3D8151;}
.green-12:hover{fill: #327B48;}
.green-13:hover{fill: #27753F;}
.green-14:hover{fill: #1C6F37;}
.yellow-11:hover{fill: #CCA300;}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
tr.underCap {
  font-weight: bold;
  background-color: #238B45;
}
.table-hover>tbody>tr.underCap:hover>td {
  background-color: #238B45;
}
tr.overCap {
  font-weight: bold;
  background-color: #FFCC00;
}
.table-hover>tbody>tr.overCap:hover>td {
  background-color: #FFCC00;
}
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
