version: 2.1

orbs:
  python: circleci/python@1.5
  node: circleci/node@4.8.1
  browser-tools: circleci/browser-tools@1.3.0

jobs:
  build:
    docker:
      - image: cimg/python:3.8-browsers
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - node/install-packages:
          pkg-manager: yarn
          app-dir: web
      - run:
          name: "Yarn build"
          command: cd web && yarn build
  test:
    docker:
      - image: cimg/python:3.8-browsers
    steps:
      - run:
          name: Run tests
          command: cd server && nosetests

workflows:
  sample:
    jobs:
      - build-and-test
