@charset "UTF-8";

/* Layout */
html, body, #root {
  min-height: 100%;
  height: 100%;
}

#root > div {
  min-height: 100%;
  height: 100%;
}

/* Table */
.filters {
  margin: auto;
}
.filters .MuiInputBase-inputSelect {
  color: black !important;
  width: 160px;
  border: rgba(0, 0, 0, 0.87);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.filters .MuiSelect-icon {
  color: black !important;
  top: 12px;
  right: 6px;
}

/* Responsive Table */
@media only screen and (max-width : 992px) {
  .responsive-table table {
    display: block;
    padding-top: 10px;
  }

  .responsive-table table thead {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .responsive-table table thead th {
    text-align: left;
  }

  .responsive-table table tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .responsive-table table tbody tr {
    display: inline-block;
    margin-left: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .responsive-table table th {
    display: block;
    height: 58px;
    width: 100% !important;
    min-width: fit-content;
    padding: 5px 0px 0px 10px;
  }

  .responsive-table table td {
    display: block;
    height: 58px;
    width: 100% !important;
    min-width: fit-content;
    padding: 5px 10px 0px 0px;
    text-align: center;
  }

  .MuiTableSortLabel-iconDirectionDesc {
    transform: rotate(270deg) !important;
  }

  .MuiTableSortLabel-iconDirectionAsc {
    transform: rotate(90deg) !important;
  }
}

/* Game Show */
.game-tabs {
  min-height: 300px;
}

@media only screen and (min-width : 992px) {
  .game-title {
    min-height: 70px;
  }

  .game-tabs {
    min-height: 480px;
  }
}
@media only screen and (max-width : 992px) {
  .game-points-title {
    min-width: 100%;
  }
}
