// Layout
html, body, #root {
  min-height: 100%;
  height: 100%;
}

#root > div {
  min-height: 100%;
  height: 100%;
}

// Media Query Ranges
$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen})" !default;

// Tables
$table-border-color: rgba(0,0,0,.12) !default;

.filters {
  margin: auto;

  .MuiInputBase-inputSelect {
    color: black !important;
    width: 160px;
    border: rgba(0, 0, 0, 0.87);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 10px;
  }

  .MuiSelect-icon {
    color: black !important;
    top: 12px;
    right: 6px;
  }
}

// Responsive Table
@media #{$medium-and-down} {
  .responsive-table {
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;

      td:empty:before {
        content: '\00a0';
      }

      th,
      td {
        margin: 0;
        vertical-align: top;
      }

      th { text-align: left; }
      thead {
        display: block;
        float: left;

        tr {
          display: block;
          padding: 0 10px 0 0;

          th::before {
            content: "\00a0";
          }
        }
      }
      tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;

        tr {
          display: inline-block;
          vertical-align: top;
        }
      }
      th {
        display: block;
        text-align: right;
        height: 58px;
      }
      td {
        display: block;
        text-align: left;
        height: 58px;
      }
      tr {
        border-bottom: none;
        padding: 0 10px;
      }

      /* sort out borders */
      thead {
        border: 0;
        border-right: 1px solid $table-border-color;
      }
    }
  }

  .MuiTableSortLabel-iconDirectionDesc {
    transform: rotate(270deg) !important;
  }

  .MuiTableSortLabel-iconDirectionAsc {
    transform: rotate(90deg) !important;
  }
}

// Game Show
.game-tabs {
  min-height: 300px;
}

@media #{$medium-and-up} {
  .game-title {
    min-height: 70px;
  }

  .game-tabs {
    min-height: 480px;
  }
}

@media #{$medium-and-down} {
  .game-points-title {
    min-width: 100%
  }
}
